Source: vulkan-wsi-layer
Section: graphics
Priority: optional
Maintainer: Wang Haoyang <haoyangw@gmail.com>
Standards-Version: 4.1.4
Build-Depends:
 debhelper (>= 12),
 cmake (>= 3.4.3),
 pkg-config,
 libdrm-dev,
 libx11-dev,
 libxcb1-dev,
 libvulkan-dev (>= 1.3.275.0),
 libwayland-bin [linux-any],
 libwayland-client0 [linux-any],
 libwayland-dev [linux-any],
 wayland-protocols [linux-any],
Rules-Requires-Root: no
Vcs-Git: git://github.com/ginkage/vulkan-wsi-layer.git
Vcs-Browser: https://github.com/ginkage/vulkan-wsi-layer
Homepage: https://docs.vulkan.org/guide/latest/wsi.html

Package: libvulkan-wsi-layer
Section: graphics
Architecture: arm64 armhf
Pre-Depends: ${misc:Pre-Depends}
Depends:
 libvulkan1,
 ${misc:Depends}
Multi-Arch: same
Description: Vulkan Window System Integration Layer
 This project is a Vulkan layer that implements some of the Vulkan window
 sysem integration extensions. The layer is designed to be GPU vendor
 agnostic when used as part of the Vulkan ICD/loader architecture.

